{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-5" style="max-width: 400px; width: 95%;">
        <h2 class="text-info mb-3 text-center">Login</h2>
        <form method="post" action="/login" class="text-start">
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input type="email" name="email" class="form-control rounded" placeholder="Enter email" required>
            </div>
            <div class="mb-4">
                <label class="form-label">Password:</label>
                <input type="password" name="password" class="form-control rounded" placeholder="Enter password" required>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-info btn-lg">Login</button>
                <a href="/register" class="btn btn-warning btn-lg">Register</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
